body{margin:0;padding:0;background-color:blue;}
.img-1{background:url(../img/loading.png) no-repeat;width:86px;height:86px;}
.img-2{background:url(../img/test.png) no-repeat;width:320px;height:160px;}