<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue demo</title>
</head>
<body>
<ul class="demo" v-if="seen">
    <li>
        <input v-model.trim="message" />
        <span>{{message}}</span>
    </li>
    <li>
        <input type="text" v-model="counter">
        <button v-on:click.once="addAction(1, $event)">add 1</button>
    </li>
    <li>
        <input type="checkbox" v-model="checked" v-bind:true-value="message">
        <button v-on:keyup.enter="checkAction()">{{checked}}</button>
    </li>
    <li>
        <select v-model="selected">
            <option v-for="(todo, index) in todos">{{todo.text}}</option>
        </select>
    </li>
    <li v-for="(todo, index) in todos">
        <span v-bind:title="message" v-on:click="reverseMessage(index)">{{todo.text}}</span>
    </li>
    <todo-item v-for="todo of todos" v-bind:todo="todo"></todo-item>
</ul>
<div id="app">
    <app-nav></app-nav>
    <app-view></app-view>

    <button v-on:click="showView('app-sidebar')">show sidebar</button>
    <button v-on:click="showView('app-content')">show content</button>
    <component v-bind:is="currentView"></component>

    <p>{{total}}</p>
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <button-counter v-on:increment="incrementTotal"></button-counter>
</div>
<script type="text/javascript" src="lib/vue.js"></script>
<script type="text/javascript">
// demo
Vue.component('todo-item',{
    props:['todo'],
    template:'<li>{{todo.text}}</li>'
});

var demo = new Vue({
    el:'.demo',
    data:{
        message:'hello world!',
        seen:true,
        counter:0,
        checked:false,
        selected:'abcd',
        todos:[
            {text:'abcd'},
            {text:'bcda'},
            {text:'cdab'}
        ]
    },
    methods:{
        reverseMessage(index){
            this.todos[index].text = this.todos[index].text.split('').reverse().join('');
        },
        addAction(key, event){
            console.log(event);//访问原生事件对象
            this.counter = this.counter + key;
        },
        checkAction(){
            this.checked = !this.checked;
        }
    }
});
demo.todos.push({text:'dabc'});

// app
Vue.component('app-nav', {
    template:'<div class="nav">nav</div>'
});
Vue.component('app-view', {
    template:'<div class="view"><app-sidebar>sidebar1</app-sidebar><app-content>content1</app-content></div>'
});
Vue.component('app-sidebar', {
    template:'<div class="sidebar"><slot>sidebar</slot></div>'
});
Vue.component('app-content', {
    template:'<div class="content">content</div>'
});
Vue.component('button-counter', {
    template:'<button v-on:click="increment">{{counter}}</button>',
    data:function(){
        return {
            counter:0
        }
    },
    methods:{
        increment(){
            this.counter += 1;
            this.$emit('increment');
        }
    }
});

var app = new Vue({
    el:'#app',
    data:{
        total: 0,
        currentView:'app-sidebar'
    },
    methods:{
        incrementTotal(){
            this.total += 1;
        },
        showView(view){
            this.currentView = view;
        }
    }
});
</script>
</body>
</html>